.navbar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 5rem;
}

.navbar__link{
    display: block;
}

.navbar__links{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.icon {
    width: auto;
    max-height: 100%;
}